body{
    background: rgb(208,184,168);
    background: linear-gradient(180deg, rgba(208,184,168,1) 27%, rgba(145,79,30,1) 100%);
}
.title{
   height: 100px;
   width: 100%;
   /* background-color: #632941; */
   font-size: 32px;
   display: flex;
   justify-content: center;
   align-items: center;
   color:white;
   font-weight: bold;
   font-family: Montserrat;
}
.details{
    width: 100%;
    height: auto;
    /* background-color: #FFFFFF; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    /* border: 1px solid #632941; */
    margin-top: 30px;
}
.pic1{
    width: 500px;
    height: 300px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); /* Creates a shadow effect */
}
.amount{
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}
.amount h4 {
    margin: 0;
    font-weight: bold;
}
.amount p {
    margin: 5px 0;
}
/* .info{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    border: 1px solid black;
} */
.overview{
    width: 100%;
    height: 100px;
    font-size: 28px;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    color:white;
    font-weight: bold;
    /* background: url("https://www.indiantempletour.com/wp-content/uploads/2022/08/background.png"); */
}
.matter{
    width: 80%;
    height: auto;
    /* border: 1px solid green; */
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    /* background: url("https://www.indiantempletour.com/wp-content/uploads/2022/08/background.png"); */
}
.info {
    margin-top: 30px;
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    padding: 10px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #F9F9F9; */
}
.fortable{
    margin-top: 20px;
    width: 100%;
    /* border: 1px solid black; */
    padding: 10px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tabletitle{
    width: 100%;
    height: 80px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    color: white;
    font-weight: bold;
    font-family: Montserrat;
}
.table-container {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}
.table-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #7a003b;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.table th {
    background-color: #f2f2f2;
    color: #7a003b;
}
.table td {
    color: #333;
}
.main2{
    height: auto;
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
 .main2head{
    width:100%;
    height: auto;
    /* background-color: yellow; */
    font-size: 22px;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: Montserrat;
} 
.cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    margin-top: 25px;
}
.c1{
    height: 400px;
    width: 400px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
} 
.transport{
    width: 100%;
    height: 350px;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); 
}
.about{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}








.coverlast {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .booknow {   
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(208,184,168);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  
  .booknow:hover {
    color: white;
  }
  
  .booknow::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 100px;
    left: -300px; /* This was missing 'px' */
    top: -30px; /* Adjusted to center the background vertically */
    background-color:#b87240; /* Added background color */
    border-radius: 50px;
    transition: all 1s;
    z-index: -1;
  }
  
  .booknow:hover::before {
    left: 0;
  }
  